@{
    ViewBag.Title = "Inicio";
    Layout = "../Shared/_Layaut_New.cshtml";
}

<div class="card">
    <div class="card-header">
        
        <p class="card-title">By Andres Naranjo.</p>
    </div>
    <div class="card-body">
        <div class="col-12 text-center">
            <h2>ADMINISTRADOR DE DATOS </h2><br />
            <h3>Escoja lo que quiere administrar:</h3>
        </div>
        <br />
        <div class="row">
            <div class="col-6 text-center">
                <a href="/Autor/Index" class="btn btn-reddit">AUTORES</a>
            </div>
            <div class="col-6 text-center">
                <a href="/Libro/Index" class="btn btn-reddit">LIBROS</a>
            </div>
        </div>
    </div>
</div>